name: Greetings

on: 
  pull_request:
    types: opened
  issues:
    types: opened

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Welcome! If this is a security issue, please send details to alej0hio2007@gmail.com, help.ttsbotsnapps@gmail.com or message us on Discord.'
        pr-message: 'Thanks for your first contribution! Make sure you''ve [checked the docs], and wait for a review!'
